@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', 'Inter', sans-serif;
}

.text-color {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 5%;
  align-items: center;
  padding: 6px;
}

.main-header {
  background-color: #3c3a39;
  width: 100vw;
}

.desktop-only {
  display: none;
}

.menubar {
  height: 20px;
}

.section-1 {
  background-color: #1c1a19;
  height: 100vh;
  width: 100vw;
}

.content-0 {
  width: 100vw;
  height: 100vh;
  padding-top: 37%;
  background-image: url(./socialmedia/design.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.first-image {
  display: none;
}

.heading-1-container {
  margin-bottom: 20px;
}

.margin-24 {
  margin: 0 24px;
}

.heading-1 {
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.heading-2 {
  margin-left: 24px;
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.section-par {
  color: white;
  margin-left: 24px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 10%;
  margin-left: 10%;
  width: 50%;
}

/* recent work */
.recent-profesional {
  background: #e5e5e5;
  margin-left: 20px;
  margin-right: 20px;
  width: 86.6%;
}

.my-recent-works {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  flex: 1;
  height: 100vh;
  width: 100vw;
  padding-bottom: 10%;
}

.H1 {
  position: relative;
  width: 100%;
  margin-top: 15%;
  margin-left: 10%;
  font-size: 24px;
  align-self: center;
  color: #1c1a19;
}

.desk-line-recent {
  display: none;
}

.line {
  height: auto;
  display: flex;
  position: relative;
  margin-left: 10%;
  width: 50%;
  margin-top: 2.5%;
}

.images:last-child {
  display: none;
}

.main-image {
  display: flex;
  margin-top: 15%;
  width: 100%;
  text-align: center;
}

.H2 {
  margin-left: 0;
  position: relative;
  width: 90%;
  margin-top: 5%;
  font-size: 18px;
  color: #1c1a19;
  order: 0;
}

.p-recent > p {
  position: relative;
  width: 80%;
  margin-left: 0;
  margin-right: 10%;
  flex: 1;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.buttons-0 {
  display: flex;
  flex-direction: row;
  flex: 1;
  list-style-type: none;
  margin-top: 5%;
  margin-left: 0%;
  margin-right: 10%;
  width: 100%;
  flex-wrap: wrap;
}

.buttons-0 > li > button {
  border: 1px solid #8993a4;
  padding: 10px;
  background: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.css0 {
  margin-left: 10%;
}

.html0 {
  margin-left: 20%;
}

.bootstrap0 {
  margin-left: 30%;
}

.ruby0 {
  margin-left: 70%;
}

.see-project {
  display: flex;
  flex: 1;
  width: 130px;
  height: 48px;
  position: relative;
  margin-top: 20px;
  background-color: #ff6b00;
  margin-left: 0;
  align-items: center;
}

.see-project > a {
  margin-left: 20%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  letter-spacing: 0.03em;
  color: #fff;
  align-self: center;
}

/* professional arts cards */

.profesional-art-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  position: relative;
  width: 90vw;
  height: 50vh;
  background-image: url(image/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.H3 > div > h3 {
  display: none;
}

.H3 {
  position: relative;
  margin-top: 30%;
  width: 90%;
  height: 81px;
  left: 10px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 44px;
  color: #fff;
}

.p2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 5%;
  margin-left: 10px;
}

.html1 {
  margin-left: 20%;
  background: rgba(255, 255, 255, 0.24);
}

.bootstrap1 {
  margin-left: 30%;
  background: rgba(255, 255, 255, 0.24);
}

.ruby1 {
  margin-left: 70%;
  background: rgba(255, 255, 255, 0.24);
}

.see-project-1 {
  display: flex;
  margin-top: 20px;
  position: relative;
  color: white;
  background-color: #ff6b00;
  height: 48px;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.see-project-1:hover {
  border: 2px solid blue;
  text-decoration: underline;
  text-decoration-color: blue;
}

.project {
  margin-left: 30%;
  font-family: 'Inter', sans-serif;
  font-style: 'normal';
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  letter-spacing: 0.03em;
  color: #fff;
}

.see-project > a :hover {
  border: 2px solid blue;
  text-decoration: underline;
  text-decoration-color: blue;
}

a:hover {
  text-decoration: underline;
}

.buttons-1 {
  display: flex;
  flex-direction: row;
  flex: 1;
  list-style-type: none;
  margin-top: 5%;
  margin-left: 0;
  margin-right: 10%;
  width: 100%;
  flex-wrap: wrap;
}

.buttons-1 > li > button {
  border: 1px solid #8993a4;
  padding: 10px;
}

.buttons-1 > li > button :hover {
  border: 2px solid blue;
  text-decoration: underline;
  text-decoration-color: blue;
}

.btn:hover {
  border: 2px solid blue;
  text-decoration: underline;
  text-decoration-color: blue;
}

.see-project-2 {
  display: flex;
  margin-top: 20px;
  position: relative;
  color: white;
  background-color: #ff6b00;
  height: 48px;
  justify-items: center;
  align-items: center;
  width: 100%;
}

/* about me  */

.section-3 {
  margin-top: 100px;
  background: #1c1a19;
  margin-bottom: 100px;
}

.about-me {
  display: grid;
  grid-template-columns: auto;
}

.me {
  margin-top: 80px;
  position: relative;
  width: 90%;
  height: 79px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 88px;
  letter-spacing: 0.37px;
  overflow: hidden;
  color: #ff6b00;
}

.p-me {
  position: relative;
  width: 90%;
  height: 148px;
  margin-left: 5%;
  margin-top: 40px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: 1;
  order: 0;
}

.back-image {
  background-image: url(image/abtme.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
}

.resume {
  margin-left: 5%;
}

.line2 {
  margin-top: 220px;
  width: 80%;
  margin-left: 10%;
  color: white;
}

.lan {
  display: inline-flex;
  width: 60%;
  margin-left: 20%;
  margin-top: 100px;
}

.lan > img {
  width: 30px;
  height: 30px;
  background: #ff6b00;
  transform: rotate(-30deg);
}

.lan > h4 {
  margin-left: 20px;
  color: white;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 44px;
}

.language > ul {
  list-style: none;
  color: white;
  margin-left: 25%;
  margin-top: 40px;
}

.language > ul > li {
  margin-top: 40px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.frm {
  width: 60%;
  margin-left: 20%;
  margin-top: 100px;
}

.frm > img {
  width: 30px;
  height: 40px;
}

.frm > h4 {
  margin-left: 20px;
  color: white;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 44px;
}

.framwork > ul {
  list-style: none;
  color: white;
  margin-left: 25%;
  margin-top: 40px;
}

.framwork > ul > li {
  margin-top: 40px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.Skills {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}

.skill {
  display: flex;
  position: relative;
  margin-left: 20%;
}

.skill > img {
  position: relative;
  width: 18px;
  height: 18px;
  align-self: center;
  margin-right: 2%;
}

.Skills > div > h3 {
  position: relative;
  color: white;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 44px;
}

.Skills > ul {
  list-style: none;
  color: white;
  margin-left: 25%;
  margin-top: 40px;
}

.Skills > ul > li {
  margin-top: 40px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

/* contact forms */
.forms {
  display: flex;
  flex-direction: column;
}

.upper-form {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.forms > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-left: 10px;
  margin-right: 20px;
}

input {
  height: 50px;
  margin: 10px 20px 20px 20px;
}

input:first-child,
input:nth-child(2) {
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

textarea {
  border: none;
  background-color: #fbf8f7;
  height: 115px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 20px;
}

input:last-child {
  width: 130px;
  height: 48px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  background-color: #ff6b00;
  color: #fff;
  margin: auto;
  border: none;
}

input:last-child:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.footer {
  display: flex;
  flex-direction: column;
}

.social-links {
  margin-left: 28%;
  display: flex;
}

.social-links > img {
  margin-right: 30px;
}

.linkedin {
  opacity: 1;
}

hr:first-child {
  background-color: #dfe1e6;
  margin-top: 100px;
  margin-bottom: 20px;
}

.bottom-line {
  width: 35%;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  margin: 35px auto 15px auto;
}

/* desktop version */

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: flex;
    list-style: none;
  }

  .contact0,
  .about0,
  .portiflio0 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .contact0 {
    position: relative;
    margin-right: 2vw;
  }

  .about0 {
    position: relative;
    margin-right: 3vw;
    margin-left: 3vw;
  }

  /* first page */

  .content-0 {
    display: flex;
    position: relative;
    padding-top: 20%;
    border: 1px solid white;
    background-image: url(desktop-image/Gourp1B.png);
    background-repeat: no-repeat;
    background-size: 40vw;
    background-position-y: center;
  }

  .non-social {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50vw;
    margin-left: 15vw;
  }

  .non-social > div {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
  }

  .non-social > h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .non-social > p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .social {
    padding-top: 9%;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 5vw;
    margin-left: -63vw;
  }

  .social-media > li {
    padding: 8px;
  }

  /* recent works */

  .recent-profesional {
    background-color: white;
  }

  .my-recent-works {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    height: auto;
  }

  .non-cards {
    display: flex;
    position: relative;
    margin-top: 10vh;
    margin-left: 3vw;
    margin-right: 5vw;
    width: 92vw;
    align-items: center;
  }

  .H1 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 52px;
    color: #091e42;
    flex: none;
    position: relative;
    margin-left: 0%;
    width: 30vw;
    margin-top: 0%;
  }

  .non-cards > img {
    height: 2px;
    position: relative;
    margin-left: 0%;
    width: 40vw;
  }

  .line {
    position: relative;
    margin-left: 0%;
  }

  .cards-image-story {
    display: flex;
    flex-direction: column;
  }

  .image-and-stories {
    display: flex;
    position: relative;
    margin-left: 3vw;
    margin-right: 3vw;
    height: 45vh;
    margin-bottom: 0%;
    margin-top: 40px;
  }

  .main-image {
    position: relative;
    margin-top: 0%;
    width: 45vw;
  }

  .main-image > img {
    position: relative;
    width: 45vw;
    height: 50vh;
  }

  .stories {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 15px;
    margin-right: 2vw;
  }

  .H2 {
    margin-top: 10px;
  }

  .p-recent > p {
    position: relative;
    margin-right: 10%;
    flex: 1;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
  }

  .buttons-0 {
    position: relative;
    margin-top: 10px;
    max-height: 80px;
  }

  .buttons-0 > li > button {
    height: 40px;
  }

  .desk-see-pro-recent {
    margin-top: 0;
    max-height: 50px;
    width: 150px;
    position: relative;
  }

  .desk-see-pro-recent > a {
    align-self: center;
    position: relative;
    margin-top: 0;
  }

  /* profesional arts cards */

  .cards {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 6vw;
    width: 88vw;
    margin-top: 0%;
  }

  .first-row {
    display: flex;
    flex-direction: row;
  }

  .desk-1 {
    position: relative;
    margin-bottom: 10px;
    margin-right: 24px;
    background-image: url(image/Placeholder-4.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .desk-1 > div > h2 {
    display: none;
  }

  .desk-1 > div > p {
    display: none;
  }

  .desk-1 > ul {
    display: none;
  }

  .see-project-1 {
    position: relative;
    margin-top: 30vh;
    padding: 25px;
  }

  .desk-2 {
    position: relative;
    margin-bottom: 10px;
    margin-right: 24px;
    background-image: url(image/Placeholder-5.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .desk-proj-2 {
    display: none;
  }

  .desk-proj-3 {
    display: none;
  }

  .buttons-1 {
    display: flex;
    flex: 1;
    position: relative;
    margin-top: 0%;
  }

  .buttons-1 > li > button {
    border: 1px solid #8993a4;
    padding: 5px;
    height: 30px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .desk-2 > div > h2 {
    display: none;
  }

  .desk-2 > div > h3 {
    font-family: 'Crete Round'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    position: relative;
    margin-top: 7vh;
  }

  .desk2-p2 {
    position: relative;
    margin-top: 8vh;
    margin-bottom: 3.5vh;
  }

  .desk-3 {
    position: relative;
    margin-bottom: 10px;
    background-image: url(image/Placeholder-6.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .desk-3 > div > h2 {
    display: none;
  }

  .desk-3 > div > h3 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #fff;
    position: relative;
    margin-top: 10vh;
    text-align: center;
  }

  .desk-3-p2 {
    position: relative;
    margin-top: 8vh;
    margin-bottom: 3.5vh;
  }

  .second-row {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 10%;
    margin-bottom: 100px;
  }

  .desk-4 {
    position: relative;
    margin-bottom: 10px;
    background-image: url(image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .desk-4 > div > h3 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #fff;
    position: relative;
    margin-top: 30vh;
    text-align: center;
  }

  .desk-4-p2 {
    position: relative;
    margin-top: 8vh;
    margin-bottom: 3vh;
  }

  .desk-proj-4 {
    display: none;
  }

  .desk-5 {
    position: relative;
    margin-bottom: 10px;
    background-image: url(image/Placeholder-5.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .desk-5 > div > h2 {
    display: none;
  }

  .desk-5 > div > h3 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #fff;
    position: relative;
    margin-top: 10vh;
    text-align: center;
  }

  .desk-5-p2 {
    position: relative;
    margin-top: 8vh;
    margin-bottom: 3vh;
  }

  .desk-proj-5 {
    display: none;
  }

  .desk-6 {
    position: relative;
    margin-bottom: 10px;
    background-image: url(image/Placeholder-6.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .desk-6 > div > h2 {
    display: none;
  }

  .desk-6 > div > h3 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #fff;
    position: relative;
    margin-top: 10vh;
    text-align: center;
  }

  .desk-6-p2 {
    position: relative;
    margin-top: 5vh;
    margin-bottom: 6vh;
  }

  .desk-proj-6 {
    display: none;
  }

  /* about me */

  .section-3 {
    position: relative;
    margin-top: 0%;
  }

  .back-image {
    background-image: none;
  }

  .background-image {
    background-image: url(image/Frame.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 150%;
  }

  .me {
    position: relative;
    margin-top: 15vh;
    margin-left: 7vw;
  }

  .p-me {
    position: relative;
    width: 45vw;
    height: auto;
    margin-left: 7vw;
    margin-bottom: 5vw;
  }

  .resume {
    margin-left: 7vw;
  }

  .L-F-S {
    display: flex;
    flex-direction: row;
  }

  .language {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 7vw;
    width: 25vw;
  }

  .lan {
    position: relative;
    width: 25vw;
    margin-left: 0%;
  }

  .lan > img {
    width: 18px;
    height: 18px;
    background: #ff6b00;
    transform: rotate(-45deg);
    position: relative;
    align-self: center;
  }

  .lan > h4 {
    font-size: 32px;
  }

  .language > ul {
    position: relative;
    margin-left: 0%;
    margin-top: 0%;
  }

  .language > ul > li {
    position: relative;
    margin-top: 0%;
    margin-bottom: 25px;
  }

  .framwork {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 5vw;
    width: 25vw;
  }

  .frm {
    display: flex;
    position: relative;
    margin-left: 0%;
  }

  .frm > img {
    width: 18px;
    height: 18px;
    position: relative;
    align-self: center;
    background: #ff6b00;
  }

  .frm > h4 {
    font-size: 32px;
  }

  .framwork > ul {
    position: relative;
    margin-left: 0%;
    margin-top: 0%;
  }

  .framwork > ul > li {
    position: relative;
    margin-top: 0%;
    margin-bottom: 25px;
  }

  .Skills > div > img {
    background: #ff6b00;
    align-self: center;
    position: relative;
    margin-right: 5%;
  }

  .Skills {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 5vw;
    width: 25vw;
  }

  .skill {
    position: relative;
    margin-left: 0%;
  }

  .Skills > div {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 13vh;
  }

  .Skills > div > h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .Skills > ul {
    position: relative;
    margin-left: 0%;
    margin-top: 0%;
  }

  .Skills > ul > li {
    position: relative;
    margin-top: 0%;
    margin-bottom: 25px;
  }

  /* contact form */

  .forms {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 10vw;
    margin-right: 7vw;
  }
  
  .forms > p {
    position: relative;
    width: 40vw;
    text-align: left;
    margin-left: 0;
  }
  .middle-line {
    display: none;
  }

  .footer {
    position: relative;
    margin-top: 15vh;
    margin-left: 25vw;
  }

  .bottom-line {
    display: none;
  }
}
